Package: localsend-cli
Version: 1.2.2
Section: utils
Priority: optional
Architecture: amd64
Maintainer: MeowRain meowrain@126.com
Description: LocalSend CLI - Command line tool for quick file transfer in local network
 LocalSend is a cross-platform file transfer tool,
 can transfer files quickly and safely in the local network.
 This is the command line version of the tool.
Homepage: https://github.com/meowrain/localsend-go 
